<h1>Demo1#hello</h1>
<p>Hello world</p>
<%= 1+1%>
<br/>

<% target = "world" %>
<%="Hello #{target}"%>

<% @array.each do |n| %>
<%= n %> <br/>
<%end%>

<a href="/demo1/hello">Hello page 1</a> <br/>
<%= link_to('Hello Page 2',:action=>'hello')%>